 .controles{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    width: 90%;
    justify-content: space-between;
    background-color: var(--fondo-seccion-color);
    border-radius: 15px;
   
 }
.alertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-right: 2vw;
   
    
}
.diagrama{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    width: 30%;
    height: max-content;
}
.diagrama__img{
    width: 100%;
    height: 90%;
    object-fit: contain;
    border-radius: 15px 0 0 15px;

}



.alertas_golpes{
    /* background-color: var(--fondos-alertas-color); */
    display: flex;
    flex-wrap: wrap;

}
.indicador_formaleta{
    background-color: var(--fondos-alertas-selecion-color);
    padding: 10px;
    border-radius: 5px;
    color: var(--letra-color);
    font-size: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.alertas_catalizador{
     display: flex;
        gap: 0.2em;
}
.alertas_catalizador__nombre{
    background-color: var(--fondos-alertas-color);
    padding: 10px;
    border-radius: 20px 0px 0px 20px;
    color: var(--letra-color);
    font-size: 1em;
}
.alertas_catalizador__valor{
    background-color: var(--fondos-alertas-color);
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    color: var(--letra-color);
    font-size: 1em;
}
.alertas__inyeccion-on{
    background-color: var(--alerta-verde-color);
    padding: 10px;
    border-radius: 5px;
    color: var(--letra-color);
    font-size: 1em;
}
.alertas__inyeccion-off{
    background-color: var(--alerta-roja-color);
    padding: 10px;
    border-radius: 5px;
    color: var(--letra-color);
    font-size: 1em;
}
.indicador_formaleta:focus{
    outline: none;
}