 .registros{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    width: 90%;
    gap: 1em ;
    background-color: var(--fondo-seccion-color);
    border-radius: 20px 20px 0px 0px ;
 }

 .tabla-main{
   background-color: var(--fondos-alertas-color);
    border-radius: 20px 20px 0px 0px ;
 }
 .t-cuerpo{
    text-align: center;
    background-color: var(--fondos-alertas-cuerpo-color);
    border-radius: 3px;
 }
 .t_encabezado{
   background-color: var(--fondos-alertas-cabeza-color);
    border-radius: 3px;
 }
 .t-cuerpo__golpes{
   color:var(--alerta-verde-color)
 }
 .t-cuerpo__golpes_extras{
   color:var(--alerta-roja-color);
 }

