@import url(componentes/controles.css);
@import url(componentes/medias.css);
@import url(componentes/registros.css);
@import url(componentes/root.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
body{
   color: var(--letra-color);
   background-color: var(--fondo-color);
   width: 98.7vw;
}
 main{
    display:flex;
    flex-direction: column;
    width: 98.7vw;
    height: max-content;
    gap: 3em;
    align-items: center;
 }

 .encabezado{
   background-color: var(--encabezado-color);
   align-items: center;
   width: 90%;
   text-align: center;
   
 }





 footer{
    width: 90%;
    background-color: var(--piedepagina-color);
 }