@import url(componentes/controles.css);
@import url(componentes/medias.css);
@import url(componentes/registros.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 main{
    display:flex;
    flex-direction: column;
    width: 98.7vw;
    height: max-content;
    gap: 3em;
    align-items: center;
 }

 .encabezado{
   align-items: center;
   width: 90%;
   border: 1px dashed black;
 }





 footer{
    width: 90%;
    border: 1px dashed black;
 }